@*<div style="height: 70px"></div>

    <div class="jumbotron">
        <h1>InfoCole</h1>
        <p class="lead">
            InfoCole es una Web App que recoge toda la información del sistema de transporte de la ciudad de resistencia,
            podrás encontrar el sistema de rutas completo, con los puntos de paradas y los horarios aproximados, un espacio de comentarios
            para compartir información, quejas o reclamos sobre el servicio y un espacio de noticias para conocer las novedades o noticias
            del servicio.
        </p>

    </div>*@
<div class=" container-fluid">
    <div>
        <h4 style="font-family: Verdana">Estado del transito</h4>
        <div class="alert alert-dark text-center justify-content-center" role="alert">
            @if (@ViewBag.EstadoTransito.TipoID == 1)
            {
                <img src="~/Images/Alertas/NotificationWarning.png" height="50" />}
            else if (@ViewBag.EstadoTransito.TipoID == 2)
            {
                <img src="~/Images/Alertas/NotificationAlert.png" height="50" />}
            else
            {
                <img src="~/Images/Alertas/NotificationOK.png" height="50" />}
            <b><p>@ViewBag.EstadoTransito.Contenido</p></b>
        </div>
    </div>
    <br />
    <div>
        <div class="row" style="height:100%">
            <div class="col-md-6 mr-auto float-left">
                <h4 style="font-family: Verdana">Alertas</h4>
                <div class="alert alert-dark ">
                    @foreach (var item in ViewBag.AlertaTransito)
                    {
                        <div class="media mb-2">

                            @if (item.TipoID == 1)
                            {
                                <img class="align-self-center mr-3" src="~/Images/Alertas/Rojo.png" height="50" />
                            }
                            else if (item.TipoID == 2)
                            {
                                <img class="align-self-center mr-3" src="~/Images/Alertas/Amarillo.png" height="50" />
                            }
                            else
                            {
                                <img class="align-self-center mr-3" src="~/Images/Alertas/Verde.png" height="50" />
                            }

                            <div class="media-body">
                                <span style="color:dimgray"> @item.Fecha</span>
                                <p>@item.Contenido</p>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-5 float-right">
                <h4 style="font-family: Verdana">Estado de las lineas</h4>
                <div class="alert alert-dark text-center">
                    @foreach (var item in ViewBag.EstadoLineas)
                    {
                        <ul style="list-style: none">
                            <li class="row">
                                @if (item.tipo == 1)
                                {
                                    <img class="align-self-center mr-3" src="~/Images/Alertas/Rojo.png" height="40" /> <p><b>@item.linea</b> - @item.contenido</p>
                                }
                                else if (item.tipo == 2)
                                {
                                    <img class="align-self-center mr-3" src="~/Images/Alertas/Amarillo.png" height="40" /><p><b>@item.linea</b>  - @item.contenido</p>
                                }
                                else
                                {
                                    <img class="align-self-center mr-3" src="~/Images/Alertas/Verde.png" height="40" /><p><b>@item.linea</b>  - @item.contenido</p>
                                }
                            </li>
                        </ul>
                    }

                </div>
            </div>
        </div>
    </div>
</div>