@model InfoColeAplicacion.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<div class="text-center">
    <h5 style="font-family: Verdana">Inicie sesión con su cuenta de: </h5>
    <hr />
    @{
        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
        if (loginProviders.Count() == 0)
        {
            <div>
                <p>
                    No existen servicios de autenticación externos configurados. Consulte <a href="https://go.microsoft.com/fwlink/?LinkId=403804">este artículo</a>
                    para obtener detalles sobre cómo configurar esta aplicación ASP.NET para admitir el inicio de sesión a través de servicios externos.
                </p>
            </div>
        }
        else
        {
            using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                <div id="socialLoginList" style="text-align: center;">
                    <p>
                        @foreach (AuthenticationDescription p in loginProviders)
                        {
                            if (p.Caption == "Google")
                            {
                        <button type="submit" class="btn bg-transparent" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Inicie sesión con su cuenta @p.Caption">
                            <img src="~/Images/Login/google-logo.png" style="width:50px; height:50px" />
                        </button>
                            }
                            else if (p.Caption == "Facebook")
                            {
                                <button type="submit" class="btn bg-transparent " id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Inicie sesión con su cuenta @p.Caption">
                                    <img src=" ~/Images/Login/facebook-logo.png" style="width:50px; height:50px"/>
                                </button>
                            }
                            else
                            { 
                                <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Inicie sesión con su cuenta @p.Caption">@p.AuthenticationType</button>
                            }
                         }
                    </p>
                </div>
            }
        }
    }
</div>

