<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - InfoCole</title>
    <link rel="shortcut icon" href="~/Images/logo.ico">


    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

</head>
<body class="mt-0 pt-0" style="background-color: #dee1e3; width:100%">
    <div class="row w-100 m-0" style="background-color: #03658c; height:120px; width:100%">
        <div class="col-5 flex-column my-auto">
            <nav class="navbar m-auto text-center" style="color:white">
                <a class="my-auto flex-column" style="height:120px">
                    <img src="~/Images/logoBlanco.png" style="height: 70%">
                   <br />
                    <b style="font-size: 140%">INFOCOLE</b>
                </a>
            </nav>
        </div>
        <div class="d-flex flex-row-reverse col-7">
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <nav id="menuPrincipal" class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index:100; width:100%">
            <a class="navbar-brand" href="/Home/Index">InfoCole </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">


                    <li class="nav-item">
                        <a class="nav-link fontColor-white" href="@Url.Action("Index", "Users")">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fontColor-white" href="@Url.Action("Index", "Noticias")">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fontColor-white" href="@Url.Action("Index", "Rutas")">Rutas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fontColor-white" href="@Url.Action("Index", "Lineas")">Lineas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fontColor-white" href="@Url.Action("Index", "PuntoMapa")">Puntos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fontColor-white" href="@Url.Action("Index", "TipoPuntoMapas")">Tipos de punto</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fontColor-white" href="@Url.Action("Index", "Alertas")">Alertas</a>
                    </li>
                </ul>

            </div>
        </nav>
    }
    else
    {
        <nav id="menuPrincipal" class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index:100; width:100%">
            <a class="navbar-brand mr-3" href="@Url.Action("Index", "Home")">
                <img src="~/Images/Home/Home.png" height="35" style="margin-right:0" />
                Inicio
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item btn btn-outline-secondary mr-1 my-1 p-0">
                        <a class="nav-link" href="@Url.Action("Index", "Comentario")">
                            <img src="~/Images/Home/chat.png" height="35" style="margin-right:0" />
                            Comentarios
                        </a>
                    </li>
                    <li class="nav-item btn btn-outline-secondary mr-1 my-1  p-0">
                        <a class="nav-link" href="@Url.Action("IndexUser","PuntoMapa")">
                            <img src="~/Images/Home/LocationPoint.png" height="35" />
                            Puntos
                        </a>
                    </li>
                    <li class="nav-item btn btn-outline-secondary mr-1 my-1  p-0">
                        <a class="nav-link" href="@Url.Action("IndexUser","Rutas")">
                            <img src="~/Images/Home/Way.png" height="35" />
                            Rutas
                        </a>
                    </li>
                    <li class="nav-item btn btn-outline-secondary mr-1 my-1  p-0">
                        <a class="nav-link" href="@Url.Action("About", "Home")">
                            <img src="~/Images/Home/AlertaIcon.png" height="35" />
                            Alertas
                        </a>
                    </li>
                    <li class="nav-item btn btn-outline-secondary mr-1 my-1  p-0">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">
                            <img src="~/Images/Home/News.png" height="35" />
                            Noticia
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav float-right">
                    @if (ViewBag.ID != null)
                    {
                    <li class="nav-item btn btn-outline-secondary mr-1 my-1  p-0">
                        <img src="~/Images/Comentario/ChatAdd.png" height="35" />
                        @Html.ActionLink("Crear comentario", "Create", null, new { data_modal = "", @class = "nav-link", @style = "display:inline-block" })
                    </li>
                        <li class="nav-item btn btn-outline-secondary mr-1 my-1  p-0">
                            <a class="nav-link" href="@Url.Action("Details", "Comentario")">
                                <img src="~/Images/Comentario/HistorialComent.png" height="35" />
                                Historial
                            </a>
                        </li>
                    }
                    else
                    {
                        if (ViewBag.Title == "Comentarios")
                        {
                            <li class="nav-item btn btn-outline-secondary mr-1 my-1  p-0">
                                <a class="nav-link" href="@Url.Action("Login", "Account")">
                                    <img src="~/Images/Comentario/ChatAdd.png" height="35" />
                                    Crear comentario
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </nav>
    }


    <div style="height: 40px"></div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aplicacion de NussCreations</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
    @RenderSection("scripts", required: false)
    <script>
        $(window).scroll(function () {
            if ($("#menuPrincipal").offset().top > 110) {
                $("#menuPrincipal").addClass("sticky-top");
            } else {
                $("#menuPrincipal").removeClass("sticky-top");
            }
        })
    </script>
</body>
</html>

<div id="modalGenerica" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id='contentModal'></div>
        </div>
    </div>
</div>
