@model IEnumerable<InfoColeAplicacion.Models.Comentario>
@{
    /**/

    /**/

    ViewBag.Title = "Historial";
}
<h2>Historial</h2>
<div class="container" style="width:90%">
    @foreach (var item in Model)
    {
        <div class="card mb-3" style="width: 100%">
            <div class="card-header" style="background-color: #03658c ; color: white">
                <div class="float-left">
                    @Html.DisplayFor(modelItem => item.Fecha)
                </div>
                <div class="float-right">
                    @if (item.Tipo)
                    {
                        <h5 style="color: white ; font-size: medium">Noticia</h5>
                    }
                    else
                    {
                        <h5 style="color: white; font-size: medium">Queja</h5>
                    }
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">@Html.DisplayFor(modelItem => item.Contenido)</p>
            </div>
            <div class="card-footer">
                <div class="row" style="text-align:center; justify-content:center">
                    <button class="m-1">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:darkgreen"></i>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { data_modal = "", @style = "color: black;" })
                    </button>
                    <button class="m-1">
                        <i class="fa fa-trash-o" aria-hidden="true" style="color:red"></i>
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID }, new { data_modal = "", @style = "color: black;" })
                    </button>
                </div>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/modalform")
<link href="~/Content/font-awesome.css" rel="stylesheet" />
